body {
  background-color: black !important;
}

.title {
  font-family: Kanit;
  font-size: 70px;
  color: white;
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.navbar {
  background-color: black !important; 
  font-family: Roboto !important;
  margin-left: 10px;
  font-weight: bolder;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: white !important; 
}

.navbar .nav-link:hover {
  color: #ff4d4d !important; 
}

.navbar-toggler {
  background-color: black !important; 
  border-color: white !important; 
}

.navbar-toggler-icon {
  background-color: white !important; 
}

.section {
  text-align: center;
  padding: 50px 0;
}

.section-title {
  color: white;
  font-family: Kanit;
}

.section-card {
  text-align: center;
}

.section-paragraph {
  text-align: center;
  color: white !important;
}

.title-section {
  text-align: center;
  margin-top: 20px;
}

.title-section h1 {
  font-size: 36px;
}

/* Grid Section */
.grid-section {
  margin: 40px auto;
  padding: 20px;
  max-width: 1200px;
  text-align: center;
}

.grid-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #ddd;
}

/* Grid Layout */
.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between items as needed */
}

.grid-item {
  flex: 0 1 calc(50% - 40px); /* Two cards per row with margins */
  margin: 20px;
  padding: 20px;
  border: 1px solid #fff; /* White outline */
  background-color: #000; /* Blackish background */
  border-radius: 12px; /* Rounded edges */
  text-align: left; /* Align text to the left inside the card */
  color: #fff; /* White text color for better contrast on dark background */
  font-family: Kanit;
}

.grid-item h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: Kanit;
}

.grid-item p {
  font-size: 16px;
  font-family: Kanit;
  color: #cccccc;
}

.grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.scroll-down-indicator {
  position: absolute;
  bottom: 300px; /* Pushes the arrow up */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.scroll-down-indicator a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}

.scroll-down-indicator a:hover {
  color: #ddd;
}

html {
  scroll-behavior: smooth;
}
